.counter-button--small {
  font-size: 14px;
  padding: 10px 16px;
}

.counter-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.counter-button1 {
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.counter-button2 {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4em;
  padding: 0 1.6em;
  text-align: center;
  text-shadow: black 0 3px 8px;
  transition: all 0.15s ease;
  touch-action: manipulation;
}

.counter-button2:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 15px;
  transform: translateY(-2px);
}

.counter-button2:active {
  box-shadow: none;
  transform: translateY(2px);
}

.counter-button3 {
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(0, 0, 0, 0.2) 0 3px 6px,
    rgba(0, 0, 0, 0.2) 0 3px 6px;
  color: rgb(33, 87, 85);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
